<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-6 col-md-offset-3">
    <form action="" method="post">
        {% csrf_token %}
        {% for field in user %}
            <div class="form-group">
                <label for="">{{ field.label }}</label>
                {{ field }}

            <span class="pull-right text-danger">
                          {% if field.id_for_label == 'id_r_pwd' %}
                          {{ clean_error.0 }}
                          {% endif %}
                          {{ field.errors.0 }}
            </span>
            </div>
        {% endfor %}
        <input type="submit">
    </form>


</div>

</body>
</html>

</form>
</body>
</html>